<style>
.img {overflow: scroll;height:150px;}
.img img{width:100%;}
</style>

    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-4" ng-repeat="item in data">
                <Div class="thumbnail" ng-click="setForm(item)">
                    <div class="img">
                        <img src="{{item.img}} "/>
                    </div>
                    <div class="caption">
                        <div>
                            <div>{{$fn.msg(item.season, $fn.weather.seasons)}}</div>
                            <div>{{$fn.msg(item.state, $fn.weather.states)}}</div>
                        </div>
                    </div>
                </Div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="row" style="padding-bottom: 10px;">
            <button class="btn btn-xs pull-right" ng-click="setForm()">새로입력</button>
            <div class="pull-right"> &nbsp; </div>
            <button class="btn btn-xs btn-danger pull-right" ng-click="setForm()">삭제하기</button>
        </div>

        <div class="row pannel">
            <Div class="thumbnail">
                <form>
                    <input type="hidden" ng-model="newItem.id" name="id" />
                    <div>
                        <img src="{{showPic(newItem)}}"  style="width:100%"/>
                    </div>
                    <div class="caption">
                        <div>
                            <label>이미지:</label>
                            <input type="file" name="picture" accept="image/*"
                                   ng-model="picture" ng-file-select="onFile($files)"/>
                        </div>
                        <div>
                            <label>계절:</label>
                            <select ng-model="newItem.season" name="season"
                                    ng-options="item.id as item.title for item in $fn.weather.seasons" class="form-control"></select>
                        </div>
                        <div>
                            <label>상태:</label>
                            <select ng-model="newItem.state" name="state"
                                     ng-options="item.id as item.title for item in $fn.weather.states" class="form-control"></select>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="{{buttonName(newItem)}}" class="btn btn-block"
                               ng-disabled="$isUploading" ng-click="save(newItem)"/>
                    </div>
                </form>

            </Div>

        </div>
    </div>
