<table ng-table="tableParams" show-filter="true" class="table">
<tr ng-repeat="item in $data">
    <td data-title="'Season'" width="100" filter="{ 'season': 'text' }">
        <span ng-if="!item.$edit">{{$fn.msg(item.season, $fn.weather.seasons)}}</span>
        <div ng-if="item.$edit" style="width:100px">
            <select ng-model="item.season" ng-options="v.id as v.title for v in $fn.weather.seasons" class="form-control"></select>
        </div>
    </td>
    <td data-title="'state'" width="100" filter="{'stte':'text'}">
        <span ng-if="!item.$edit">{{$fn.msg(item.state, $fn.weather.states)}}</span>
        <div ng-if="item.$edit" style="width:100px">
            <select ng-model="item.state" ng-options="v.id as v.title for v in $fn.weather.states" class="form-control"></select>
        </div>
    </td>
    <td data-title="'img'">
        <span ng-if="!item.$edit">{{item.img}}</span>
        <div ng-if="item.$edit"><input class="form-control" type="text" ng-model="item.img" /></div>
    </td>
    <td data-title="'Actions'" width="200">
        <a ng-if="!item.$edit" href="" class="btn btn-default btn-xs" ng-click="item.$edit = true">Edit</a>
        <a ng-if="item.$edit" href="" class="btn btn-primary btn-xs" ng-click="save(item)">Save</a>
        <a ng-if="item.$edit" href="" class="btn btn-danger btn-xs" ng-click="delete(item)">delete</a>
    </td>
</tr>
</table>

<div style="background:#aaa;">
    <h5>new Season Image</h5>
    <div>
        <table class="table">
            <tr>
                <td width="100">
                    <div>
                        <label> season :</label>
                        <select ng-model="newitem.season" ng-options="item.id as item.title for item in $fn.weather.seasons" class="form-control"></select>
                    </div>
                </td>
                <td width="100">
                    <div>
                        <label> state :</label>
                        <select ng-model="newitem.state" ng-options="item.id as item.title for item in $fn.weather.states" class="form-control"></select>
                    </div>
                </td>
                <td>
                    <div>
                        <label> image :</label>
                        <input class="form-control" type="text" ng-model="newitem.img" /></div>
                    </div>
                </td>
                <td width="width">
                    <a href="" class="btn btn-primary btn-xs" ng-click="save(newitem)">Save</a>
                </td>
            </tr>
        </table>

    </div>
</div>
