<table ng-table="tableParams" show-filter="true" class="table">
<tr ng-repeat="item in $data">
    <td data-title="'Month'" width="100" filter="{ 'month': 'select' }" filter-data="selection($fn.date.monthes)">
        <span ng-if="!item.$edit">{{$fn.msg(item.month, $fn.date.monthes)}}</span>
        <div ng-if="item.$edit">
            <select ng-model="item.month" ng-options="v.id as v.title for v in $fn.date.monthes" class="form-control"></select>
        </div>
    </td>
    <td data-title="'State'" width="100" filter="{ 'state': 'select' }" filter-data="selection($fn.weather.states)">
        <span ng-if="!item.$edit">{{$fn.msg(item.state, $fn.weather.states)}}</span>
        <div ng-if="item.$edit">
            <select ng-model="item.state" ng-options="v.id as v.title for v in $fn.weather.states" class="form-control"></select>
        </div>
    </td>
    <td data-title="'Type'" width="100" filter="{ 'type': 'select' }" filter-data="selection($fn.weather.types)">
        <span ng-if="!item.$edit">{{$fn.msg(item.type, $fn.weather.types)}}</span>
        <div ng-if="item.$edit">
            <select ng-model="item.type" ng-options="v.id as v.title for v in $fn.weather.types" class="form-control"></select>
        </div>
    </td>
    <td data-title="'Value'" filter="{ 'val': 'text' }">
        <span ng-if="!item.$edit">{{item.val}}</span>
        <div ng-if="item.$edit"><input class="form-control" type="number" ng-model="item.val" /></div>
    </td>
    <td data-title="'Actions'" width="200">
        <a ng-if="!item.$edit" href="" class="btn btn-default btn-xs" ng-click="item.$edit = true">Edit</a>
        <a ng-if="item.$edit" href="" class="btn btn-primary btn-xs" ng-click="save(item)">Save</a>
        <a ng-if="item.$edit" href="" class="btn btn-danger btn-xs" ng-click="delete(item)">delete</a>
    </td>
</tr>
</table>

<div style="background:#aaa;">
    <h5>new Weather State</h5>
    <div>
        <table class="table">
            <tr>
                <td width="150">
                    <div><label> month :</label>
                        <select ng-model="newitem.month" ng-options="item.id as item.title for item in $fn.date.monthes" class="form-control"></select>
                    </div>
                </td>
                <td width="150">
                    <div><label> state :</label>
                        <select ng-model="newitem.state" ng-options="item.id as item.title for item in $fn.weather.states" class="form-control"></select>
                    </div>
                </td>
                <td width="150">
                    <div><label> type :</label>
                        <select ng-model="newitem.type" ng-options="item.id as item.title for item in $fn.weather.types" class="form-control"></select>
                    </div>
                </td>
                <td>
                    <div><label> val :</label><input class="form-control" type="text" ng-model="newitem.val" /></div>
                </td>
                <td width="200">
                    <a href="" class="btn btn-primary btn-xs" ng-click="save(newitem)">Save</a>
                </td>
            </tr>
        </table>

    </div>
</div>
